Repository ECUST-Leap/ecust-leap.github.io, pull requests merged in 2023-02, with the labels that each got.

#135 Create yanmengkun.md
  docs/medicine/bao-yan/2018/yanmengkun.md
Labels: 投稿 📖

#132 Create juanjuan.md
  docs/social-public-mgm/bao-yan/2018/juanjuan.md
Labels: 投稿 📖

#131 Create xiaxia.md
  docs/resource-env-engineering/bao-yan/2018/xiaxia.md
Labels: 投稿 📖

#130 Create kafuka.md
  docs/materials/bao-yan/2018/kafka.md
Labels: 投稿 📖

#125 Create guoyao.md
  docs/foreign/bao-yan/2018/guoyao.md
Labels: 投稿 📖

#124 Create Ing.md
  docs/materials/bao-yan/2018/Ing.md
Labels: 投稿 📖

#83 Create njj.md
  docs/maths/njj.md
Labels: 投稿 📖

#84 Create sky.md
  docs/maths/sky.md
Labels: 投稿 📖

#128 Create never.md
  docs/physics/bao-yan/2018/never.md
Labels: 投稿 📖

#151 change my name
  docs/cise/abroad/2015/yuchen.md
  docs/cise/abroad/2016/jack.md
  docs/intro/intro.md
Labels: 投稿 📖

#149 第一篇公告
  blog/2023-02-01-hello.md
  blog/2023-02-04-foo.md
  blog/2023-02-05-bar.md
  blog/2023-02-10-launch.md
  blog/authors.yml
Labels: 公告 🪧

#153 Move two files to correct locations
  docs/maths/bao-yan/2018/njj.md
  docs/maths/bao-yan/2018/sky.md
Labels: 投稿 📖

#156 Deploy to prod: move two files (#153)
  docs/maths/bao-yan/2018/njj.md
  docs/maths/bao-yan/2018/sky.md
Labels: 投稿 📖

#174 add cise/aboard/2017/pwq
  docs/cise/abroad/2017/pwq.md
Labels: 投稿 📖

#177 Fix JSX in doc
  docs/cise/abroad/2017/pwq.md
Labels: 投稿 📖

#183 Create guangru.md
  docs/medicine/kao-yan/guangru.md
Labels: 投稿 📖

#175 tengli.md
  docs/cise/bao-yan/2015/tengli.md
Labels: 投稿 📖

#166 kw.md
  docs/business/abroad/2017/kw.md
Labels: 投稿 📖

#176 upload danyi
  docs/arts/abroad/2015/danyi.md
Labels: 投稿 📖

#185 Deploy 02/14/2023
  docs/arts/abroad/2015/danyi.md
  docs/business/abroad/2017/kw.md
  docs/cise/abroad/2017/pwq.md
  docs/cise/bao-yan/2015/tengli.md
  docs/medicine/kao-yan/guangru.md
  docusaurus.config.js
  templates/abroad.md
Labels: 投稿 📖

#129 Create Joanna.md
  docs/social-public-mgm/bao_yan/2018/Joanna.md
Labels: 投稿 📖

#133 Create xiaoyu.md
  docs/social-public-mgm/bao-yan/2018/xiaoyu.md
Labels: 投稿 📖

#127 Create XT.md
  docs/social-public-mgm/bao-yan/2018/XT.md
Labels: 投稿 📖

#126 Create ckkkkk.md
  docs/materials/bao-yan/2018/ckkkkk.md
Labels: 投稿 📖

#186 yy
  docs/cise/work/2015/YY.md
Labels: 投稿 📖

#187 Deploy 02/16/2022
  docs/cise/work/2015/YY.md
  docs/materials/bao-yan/2018/ckkkkk.md
  docs/social-public-mgm/bao-yan/2018/XT.md
  docs/social-public-mgm/bao-yan/2018/xiaoyu.md
  docs/social-public-mgm/bao_yan/2018/Joanna.md
Labels: 投稿 📖

#190 Deploy 02/16/2023 patch
  docs/arts/work/_category_.json
  docs/bioengineering/work/_category_.json
  docs/business/work/_category_.json
  docs/chem-engineering/work/_category_.json
  docs/chem-molecule/work/_category_.json
  docs/cise/work/_category_.json
  docs/foreign/work/_category_.json
  docs/germany-engineering/work/_category_.json
  docs/international-engineer/work/_category_.json
  docs/law/work/_category_.json
  docs/materials/work/_category_.json
  docs/maths/work/_category_.json
  docs/mechanical-power/work/_category_.json
  docs/medicine/work/_category_.json
  docs/other-schools/work/_category_.json
  docs/physics/work/_category_.json
  docs/resource-env-engineering/work/_category_.json
  docs/social-public-mgm/bao-yan/Joanna.md
  docs/social-public-mgm/work/_category_.json
  docs/sports/work/_category_.json
Labels: 投稿 📖

#192 second announcement
  blog/2023-02-10-launch.md
  blog/2023-02-16-call-for-stories.md
Labels: 公告 🪧

#193 a lot of formatting
  docs/bioengineering/abroad/2018/vivian.md
  docs/business/abroad/2017/kw.md
  docs/business/abroad/2018/fei.md
  docs/business/bao-yan/2018/Jackie.md
  docs/business/kao-yan/2018/dj.md
  docs/chem-engineering/work/2017/Xavier.md
  docs/chem-molecule/bao-yan/2018/boben.md
  docs/foreign/bao-yan/2018/guoyao.md
  docs/materials/abroad/2018/chuan.md
  docs/materials/bao-yan/2018/Ing.md
  docs/materials/kao-yan/2018/steven.md
  docs/maths/bao-yan/2016/roast-pork-rice.md
  docs/maths/kao-yan/2018/bobotea.md
  docs/medicine/kao-yan/2018/guangru.md
  docs/physics/bao-yan/2016/Y.md
  docs/physics/bao-yan/2018/never.md
  docs/social-public-mgm/abroad/2017/yimin.md
Labels: 投稿 📖

#194 狗里斯
  docs/other-schools/bao-yan/2018/goulisi/goulisi.md
  docs/other-schools/bao-yan/2018/goulisi/image1.png
  docs/other-schools/bao-yan/2018/goulisi/image2.png
Labels: 投稿 📖

#203 yihan
  docs/cise/abroad/2017/yihan.md
Labels: 投稿 📖

#217 把首页拆成几个分别的页面
  docs/intro/_category_.json
  docs/intro/about-us.md
  docs/intro/how-to-contribute.md
  docs/intro/how-to-use.md
  docs/intro/intro.md
  docs/intro/what-is-it/logo_words.png
  docs/intro/what-is-it/what-is-it.md
  docusaurus.config.js
Labels: 投稿 📖

#220 使用方法中对GitHub的提及的修改
  .github/labeler.yml
  docs/intro/how-to-use.md
Labels: 投稿 📖

#222 Deploy 02/18/2023
  .all-contributorsrc
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  README.md
  docs/cise/abroad/2017/yihan.md
  docs/intro/_category_.json
  docs/intro/about-us.md
  docs/intro/how-to-contribute.md
  docs/intro/how-to-use.md
  docs/intro/intro.md
  docs/intro/what-is-it/logo_words.png
  docs/intro/what-is-it/what-is-it.md
  docusaurus.config.js
Labels: 投稿 📖

#228 How to use: email notification
  docs/intro/how-to-use/custom.jpeg
  docs/intro/how-to-use/how-to-use.md
  docs/intro/how-to-use/watch.jpeg
Labels: 功能 ✨

#243 Small fixes
  docs/cise/bao-yan/2015/tengli.md
  docs/intro/how-to-contribute.md
  docs/materials/abroad/2018/chuan.md
  docs/medicine/kao-yan/2018/guangru.md
Labels: 投稿 📖

#247 muro's post
  blog/2023-02-21-kaoyan-scores-out.md
  blog/authors.yml
Labels: 公告 🪧

#256 Linting 2nd
  .markdownlint-cli2.jsonc
  blog/2023-02-10-launch.md
  blog/2023-02-16-call-for-stories.md
  blog/2023-02-21-kaoyan-scores-out.md
  docs/arts/abroad/2015/danyi.md
  docs/bioengineering/abroad/2018/echo.md
  docs/bioengineering/abroad/2018/vivian.md
  docs/business/abroad/2017/kw.md
  docs/business/abroad/2018/fei.md
  docs/business/abroad/2018/zoe/zoe.md
  docs/business/bao-yan/2018/Jackie.md
  docs/business/kao-yan/2018/dj.md
  docs/chem-engineering/bao-yan/2017/Extract.md
  docs/chem-engineering/work/2017/Xavier.md
  docs/chem-molecule/bao-yan/2018/boben.md
  docs/cise/abroad/2015/yuchen.md
  docs/cise/abroad/2016/jack.md
  docs/cise/abroad/2017/pwq.md
  docs/cise/abroad/2017/yihan.md
  docs/cise/bao-yan/2015/tengli.md
  docs/cise/work/2015/YY.md
  docs/foreign/bao-yan/2018/guoyao.md
  docs/intro/about-us.md
  docs/intro/how-to-contribute.md
  docs/intro/how-to-use/how-to-use.md
  docs/intro/useful-resources.md
  docs/intro/what-is-it/what-is-it.md
  docs/materials/abroad/2018/chuan.md
  docs/materials/bao-yan/2018/Ing.md
  docs/materials/bao-yan/2018/ckkkkk.md
  docs/materials/bao-yan/2018/kafka.md
  docs/materials/kao-yan/2018/steven.md
  docs/maths/abroad/2018/paul.md
  docs/maths/bao-yan/2018/Hubble.md
  docs/maths/bao-yan/2018/Hypon.md
  docs/maths/bao-yan/2018/njj.md
  docs/maths/bao-yan/2018/sky.md
  docs/maths/kao-yan/2018/bobotea.md
  docs/maths/kao-yan/2018/paopaotea.md
  docs/medicine/kao-yan/2018/guangru.md
  docs/other-schools/bao-yan/2018/goulisi/goulisi.md
  docs/physics/bao-yan/2016/Y.md
  docs/physics/bao-yan/2018/never.md
  docs/resource-env-engineering/bao-yan/2018/xiaxia.md
  docs/social-public-mgm/abroad/2017/siyi.md
  docs/social-public-mgm/abroad/2017/yimin.md
  docs/social-public-mgm/bao-yan/2018/XT.md
  docs/social-public-mgm/bao-yan/2018/juanjuan.md
  docs/social-public-mgm/kao-yan/2018/lulu/lulu.md
  docs/social-public-mgm/kao-yan/2018/rrr.md
  docs/social-public-mgm/work/2018/muro.md
  package.json
Labels: 公告 🪧, 投稿 📖
